<!DOCTYPE html>
<!--Splash screen to lead into interface-->
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AudioLDM2 Fine-Tuning</title>

    <!--Get filesheet from webapp/static/css/style.css-->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
</head>
<body>
    {% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-light">
            <button type="button" class="close" data-dismiss="alert" onclick=delete_flash(this)>&times;</button>
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endblock %}
    <h1>AudioLDM2 Fine-Tuning and Inference Pipeline</h1>
    <h3>What would you like to do?</h3>
    <div>
        <button id="finetuningButton" onclick="window.location.href='/finetuning'">
                <p>Fine-Tune<p>
            </button>
        <button id="inferenceButton" onclick="window.location.href='/inference'">
            <p>Generate a Sound<p>
        </button>
    </div>

</body>

<script>
    var socket = io();

    // on render of template, set current_state
    
</script>
</html>