<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AudioLDM2 Fine-Tuning</title>

    <!--Get filesheet from webapp/static/css/style.css-->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
</head>
<body>
    {% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-light">
            <button type="button" class="close" data-dismiss="alert" onclick=delete_flash(this)>&times;</button>
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endblock %}
    <h1>AudioLDM2 Fine-Tuning and Inference Pipeline</h1>
    <!--Form to accept .zip file uploads and send them to the /archiveUpload url-->
    <!--For security, should possibly add an authorized key pair to this form-->
    <div class="formContainer">
        <h3>Upload Dataset Zip</h3>
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="file" accept=".zip" class="fileUpload" title="Data archive in .zip format" placeholder="Upload Zip File"/>
            <input type="submit" name="archiveUploadForm" />
        </form>
    </div>

    <div class="formContainer">
        <h3>Set Parameters</h3>
        <form method="POST">
            <label for="parameter">Parameter:</label>
            <select name="parameter" id="parameter">
                <option value="step,save_checkpoint_every_n_steps">Save Checkpoint Every N Steps</option>
                <option value="reload_from_ckpt">Reload From Checkpoint</option>
                <option value="model,params,evaluation_params,unconditional_guidance_scale">Evaluation: Unconditional Guidance Scale</option>
                <option value="model,params,evaluation_params,ddim_sampling_steps">Evaluation: DDIM Sampling Steps</option>
                <option value="model,params,evaluation_params,n_candidates_per_samples">Evaluation: N Candidates Per Sample</option>
            </select>
            <label for="paramValue">Value:</label>
            <input type="text" name="value" id="paramValue" title="Value of parameter" placeholder="{{ current_state["params"]["step,save_checkpoint_every_n_steps"] }}"/>
            <input type="submit" name="setParameterForm" />
        </form>
    </div>

    <div class="monitorBox">
        <h3>AudioLDM2 Monitor</h3>
        <p id="monitorContent"></p>
    </div>

    <div class="formContainer">
        <h3>Start Fine-Tuning</h3>
        <form method="POST">
            <input type="submit" name="startFineTuningForm" />
        </form>
    </div>

    <div class="formContainer">
        <h3>Generate Sound</h3>
        <form method="POST">
            <label for="prompt">Prompt:</label>
            <input type="text" name="prompt" id="prompt" title="Prompt for generation" placeholder="A dog barking on a quiet night"/>
            <input type="submit" name="inferSingleForm" />
        </form>
        {% if current_state["displayInferenceAudio"] %}
        <audio controls>
            <source src="{{current_state["inferencePath"]}}" type="audio/wav">
          Your browser does not support the audio element.
        </audio>
        {% endif %}
    </div>

    <div class="formContainer">
        <h3>Download Latest Checkpoint</h3>
        <form method="POST">
            <input type="submit" name="downloadCheckpointLatestForm" value="Download" />
        </form>
    </div>

    <div class="formContainer">
        <h3>Debug</h3>
        <form method="POST">
            <input type="submit" name="debugForm" value="Debug" />
        </form>
        <button onclick="debugEmit()">Debug Emit</button>
    </div>
</body>

<script>
    var socket = io();

    // on render of template, set current_state
    let current_state = {{ current_state | tojson }};
    
    // when received from socket, update current_state
    socket.on("current_state_update", function(data) {
        console.log("Received state:", data);
        current_state = data;
    });

    function debugEmit() {
        //socket.emit("debug");
    }

    //TODO send and save new current_state from flaskApp 

    $("#parameter").change(function () {
        var selection = this.value;
        var params = current_state["params"];
        $('#paramValue').attr("placeholder", params[selection]);
    });

    function delete_flash(flash){
        $(flash).parent().remove()
    }

    socket.on("monitor", function(data) {
        $('#monitorContent').text(data);
    });
</script>
</html>