<!DOCTYPE html>
<!--Splash screen to lead into interface-->
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/favicon.png">

    <title>Inference | AudioLDM2</title>

    <!--Get filesheet from webapp/static/css/style.css-->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
</head>
<body>
    {% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-light">
            <button type="button" class="close" data-dismiss="alert" onclick=delete_flash(this)>&times;</button>
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endblock %}
    <div class="titleBar" id="titleBar">
        <img src="static/icons/house-solid.svg" class="icon navButton" alt="house" onclick="window.location.href='/'" style="color: white" />
        <div class="titleAndSubtitle">
            <h1>AudioLDM2 Fine-Tuning and Inference Pipeline</h1>
            <h3>Inference</h3>
        </div>
    </div>
    <div class="finetuneContainer">
        <form method="POST">
            <div class="formContainer">
                <h3 class="processStep"><div class="circledNumber">1</div>Select a Checkpoint</h3>
                    <label for="checkpointSelect">Select Checkpoint:</label>
                    <select name="checkpointSelect" id="checkpointSelect">
                    </select>
            </div>

            <div class="formContainer">
                <h3 class="processStep"><div class="circledNumber">2</div>Adjust Parameters</h3>
                    <div class="form-group">
                        <label for="seed">Seed:</label>
                        <input type="text" name="seed" id="seed" title="Value of parameter" placeholder='{{ current_state["params"]["seed"] }}' />
                    </div>
                    <div class="form-group">
                        <label for="validation_every_n_epochs">Validation Every N Epochs:</label>
                        <input type="text" name="validation_every_n_epochs" id="validation_every_n_epochs" title="Value of parameter" placeholder='{{ current_state["params"]["step,validation_every_n_epochs"] }}' />
                    </div>
                    <div class="form-group">
                        <label for="save_checkpoint_every_n_steps">Save Checkpoint Every N Steps:</label>
                        <input type="text" name="save_checkpoint_every_n_steps" id="save_checkpoint_every_n_steps" title="Value of parameter" placeholder='{{ current_state["params"]["step,save_checkpoint_every_n_steps"] }}' />
                    </div>
                    <div class="form-group">
                        <label for="unconditional_guidance_scale">Unconditional Guidance Scale:</label>
                        <input type="text" name="unconditional_guidance_scale" id="unconditional_guidance_scale" title="Value of parameter" placeholder='{{ current_state["params"]["model,params,evaluation_params,unconditional_guidance_scale"] }}' />
                    </div>
                    <div class="form-group">
                        <label for="ddim_sampling_steps">DDIM Sampling Steps:</label>
                        <input type="text" name="ddim_sampling_steps" id="ddim_sampling_steps" title="Value of parameter" placeholder='{{ current_state["params"]["model,params,evaluation_params,ddim_sampling_steps"] }}' />
                    </div>
                    <div class="form-group">
                        <label for="n_candidates_per_samples">N Candidates Per Sample:</label>
                        <input type="text" name="n_candidates_per_samples" id="n_candidates_per_samples" title="Value of parameter" placeholder='{{ current_state["params"]["model,params,evaluation_params,n_candidates_per_samples"] }}' />
                    </div>
                    <div class="form-group">
                        <label for="audio_duration">Audio Duration:</label>
                        <input type="text" name="audio_duration" id="audio_duration" title="Value of parameter" placeholder='{{ current_state["params"]["preprocessing,audio,duration"] }}' />
                    </div>
            </div>

            <div class="formContainer">
                <h3 class="processStep"><div class="circledNumber">3</div>Input Text Prompt</h3>
                <p>Input a text prompt to guide the inference process.</p>
                <label for="prompt">Prompt:</label>
                <input type="text" name="prompt" id="prompt" title="Prompt for generation" placeholder="A dog barking on a quiet night"/>
            </div>

            <div class="formContainer">
                <h3 class="processStep"><div class="circledNumber">4</div>Begin Inference</h3>
                <input type="submit" name="beginInferenceBulkForm" value="Start"/>
            </div>

        </form>
        <div class="formContainer">
            <div class="audioContainer" id="inferenceAudioContainer">
                    <h3 class="processStep"><div class="circledNumber">5</div>Listen to Generated Sound</h3>
                    <p id="inferencePrompt" style="text-align: center;"></p>
                    <audio controls>
                        <source src='{{current_state["inferencePath"]}}' type="audio/wav", id="inferenceAudio">
                    Your browser does not support the audio element.
                    </audio>
            </div>
        </div>

    </div>
</body>
<script>
    var socket = io();

    // on render of template, set current_state
    let current_state = {{ current_state | tojson }};

    window.onload = function() {
        if (typeof sessionStorage !== "undefined") {
            // Check if the scan has already been triggered
            if (!sessionStorage.getItem("scanSystemTriggered")) {
                socket.emit("scanSystem");
                // Set a flag in sessionStorage to prevent re-triggering
                sessionStorage.setItem("scanSystemTriggered", "true");
            }
        } else {
            console.warn("sessionStorage is not supported by this browser.");
        }
    }

    // add event listeners to tab tab buttons
    $('#tabButtonFineTune').click(function() {
        $('.tabSection').hide();
        $('.tabButton').removeClass('active');
        $('.finetuneContainer').show();
        $('#tabButtonFineTune').addClass('active');
        current_state["tab"] = "finetune";
        socket.emit("tab_change", "finetune")
    });
    $('#tabButtonInference').click(function() {
        $('.tabSection').hide();
        $('.tabButton').removeClass('active');
        $('.inferenceContainer').show();
        $('#tabButtonInference').addClass('active');
        current_state["tab"] = "inference";
        socket.emit("tab_change", "inference")
    });
    $('#tabButtonOptions').click(function() {
        $('.tabSection').hide();
        $('.tabButton').removeClass('active');
        $('.optionsContainer').show();
        $('#tabButtonOptions').addClass('active');
        current_state["tab"] = "options";
        socket.emit("tab_change", "options")
    });

    updateCurrentState();

    function updateCurrentState() {
        //if (current_state["displayInferenceAudio"]) {
        //    $('#inferenceAudioContainer').show();
        //} else {
        //    $('#inferenceAudioContainer').hide();
        //}
        $('#inferencePrompt').text(current_state["inferencePrompt"]);
        $('#inferenceAudio').attr("src", current_state["inferencePath"]);

        if (Object.keys(current_state["datasets"]).length != 0) {
            $('#importedDatasetForm').parent().show();
            $('#importedDatasetZip').empty();
            current_state["datasets"].forEach(function(dataset) {
                $('#importedDatasetZip').append($('<option>', {
                    value: dataset,
                    text: dataset
                }));
            });
        } else {
            $('#importedDatasetForm').parent().hide();
        }

        if (Object.keys(current_state["inferenceCheckpoints"]).length != 0) {
            $('#checkpointSelectForm').parent().show();
            $('#checkpointSelect').empty();
            current_state["inferenceCheckpoints"].forEach(function(checkpoint) {
                $('#checkpointSelect').append($('<option>', {
                    value: checkpoint,
                    text: checkpoint.replace(/^.*[\\/]/, '')
                }));
            });
        } else {
            $('#importedDatasetForm').parent().hide();
        }

        if(current_state["tab"] == "inference") {
            $('.tabSection').hide();
            $('.tabButton').removeClass('active');
            $('.inferenceContainer').show();
            $('#tabButtonInference').addClass('active');
        }
        else if(current_state["tab"] == "options") {
            $('.tabSection').hide();
            $('.tabButton').removeClass('active');
            $('.optionsContainer').show();
            $('#tabButtonOptions').addClass('active');
        }
        else {
            $('.tabSection').hide();
            $('.tabButton').removeClass('active');
            $('.finetuneContainer').show();
            $('#tabButtonFineTune').addClass('active');
        }

        $('#serverStatusVal').text(current_state["monitor"]["torchServerStatus"]);
        $('#epochVal').text(current_state["monitor"]["epoch"]);
        $('#globalStepVal').text(current_state["monitor"]["globalStep"]);
        $('#ddimStepVal').text(current_state["monitor"]["ddimStep"]);
    }
    
    // when received from socket, update current_state
    socket.on("current_state_update", function(data) {
        current_state = data;
        if($('#inferenceAudio').attr("src") != current_state["inferencePath"]){
            // Reload if audio is new, to fetch the new file
            location.href = "/inference";
        };
        updateCurrentState();
    });

    function debugEmit() {
        //socket.emit("debug");
    }

    $("#parameter").change(function () {
        var selection = this.value;
        var params = current_state["params"];
        $('#paramValue').attr("placeholder", params[selection]);
    });

    function delete_flash(flash){
        $(flash).parent().remove()
    }

    socket.on("monitor", function(data) {
        $('#monitorContent').append(data + "<br>");
    });

    const fileUploadField = document.getElementById('datasetZip');
    const fileName = document.getElementById('datasetZipName');
    fileUploadField.addEventListener('change', function() {
        fileName.textContent = this.files[0].name;
    })
</script>