h1 {
    border: 2px #eee solid;
    color: black;
    text-align: center;
    padding: 10px;
}

h3 {
    margin: 0.5em;
}

body {
    font-family: sans-serif;
}

div.formContainer {
    width: 50%;
    margin: 0 auto;
    padding: 1%;
    border: 2px #eee solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input.fileUpload {
    border: 2px #eee solid;
    border-radius: 2px;
}

input[type="text"] {
    width: 20em;
}